.main {
  background-color: transparent;
  color: rgb(12, 2, 47);
  display: flex;
  justify-content: space-between;

}

.socialMediaIcon {

  width: 300px;
  display: flex;
  justify-content: center;
  /* justify-content: end; */
  /* margin-right: 20px; */
  gap: 10px;

  color: rgb(90, 255, 205);
}

.forcircle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 17, 92);
  height: 35px;
  width: 35px;
  font-size: 20px;
  border-radius: 20px;


}